@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --container-width: 1920px;
    --gutter: 17px;
    --gutter-md: 30px;
    --gutter-lg: 40px;

    --header-font-face: 'Red Hat Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --body-font-face: 'Red Hat Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    --header-height: 60px;
    --header-height-lg: 100px;
}

::-webkit-scrollbar {
    width: 6px; 
  }

::-webkit-scrollbar-thumb {
    background-color: white; 
    border-radius: 5px; 
}
  
body {
    font-family: var(--body-font-face);
    font-size: 15px;
    font-size: clamp(0.94rem, calc(0.84rem + 0.49vw), 1.44rem); /* 15px - 23px */
    line-height: 1.3;
    
    overflow-x: hidden;

    background: #000;
    color: #fff;
}
@media (min-width: 1920px) {
    body {
        font-size: 23px;
    }
}

p {
    font-weight: 400;
    letter-spacing: 0.06em;
}
p > span {
    display: inline-block;
}

/* p.medium {
    font-size: 1.25em;
}

p.large {
    font-size: 1.6em;
} */

a {
    color: #fff;
    transition: opacity 250ms;
}
a:hover {
    opacity: 0.5;
}

input, textarea, select, button:not([class]), .button {
    border: 1px solid #fff;
    color: #fff;
    transition: .125s ease color, .125s ease background-color;
    position: relative;
    padding: .5em .6em .4em;
    font-size: 15px;
}
.button:hover, button:not([class]):not([disabled]):hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #fff;
    color: #010101;
}
input::placeholder {
    opacity: 1 !important;
    color: #acacac !important;
    text-shadow: 1px 1px 0 #fff !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font-face);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
h4, h5, h6 {
    font-weight: 700;
    font-size: 1.15em;
}

h1 {
    font-size: 33px;
    font-size: clamp(2.06rem, calc(1.72rem + 1.85vw), 3.94rem);; /* 30px - 63px */
}
@media (min-width: 1920px) {
    h1 {
        font-size: 63px;
    }
}

h2 {
    font-size: 23px;
    font-size: clamp(1.44rem, calc(1.21rem + 1.23vw), 2.69rem); /* 23px - 43px */
}
@media (min-width: 1920px) {
    h2 {
        font-size: 43px;
    }
}

h3 {
    font-weight: 300;
    letter-spacing: 0.06em;
    font-size: 17px;
    font-size: clamp(1.06rem, calc(0.88rem + 0.99vw), 2.06rem); /* 17px - 33px */
}
@media (min-width: 1920px) {
    h3 {
        font-size: 33px;
    }
}

h4 {
    letter-spacing: 0.06em;
    font-size: 16px;
    font-size: clamp(1.00rem, calc(0.87rem + 0.68vw), 1.69rem); /* 16px - 27px */
}
@media (min-width: 1920px) {
    h4 {
        font-size: 27px;
    }
}

.logo {
    user-select: none;
    pointer-events: none;
}
.icon {
    user-select: none;
    pointer-events: none;  
}
.social-nav  {
    display: flex;
}
.social-nav li {
    margin-left: 8px;
}
.social-nav li:first-child {
    margin-left: 0;
}
@media (min-width: 1025px) {
    .social-nav li {
        margin-left: 26px;
    }
}
.social-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 52px;
    height: 52px;
}
.social-nav svg {
    fill: white;
    fill: currentColor;
    width: 25px;
    height: 25px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    background: rgba(0,0,0,.8);
    backdrop-filter: blur(7px);
    z-index: 2000;
}
header > .container {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    padding-top: 4px;
    padding-bottom: 4px;
}
@media (min-width: 1025px) {
    header > .container {
        height: var(--header-height-lg);
    }   
}
.header__left {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.header__right {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

header .logo {
    max-width: 28px;
    margin-left: 0;
}
@media (min-width: 1025px) {
    header .logo {
        max-width: 41px;
    }
}
header .social-nav {
    margin-left: auto;
}




/* Containers */
.container {
    /* border: 1px dashed yellowgreen; */
    width: 100%;
    position: relative;
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
}
@media (min-width: 768px) {
    .container {
        padding-left: var(--gutter-md);
        padding-right: var(--gutter-md);
    }
}
@media (min-width: 1025px) {
    .container {
        padding-left: var(--gutter-lg);
        padding-right: var(--gutter-lg);
    }
}




.hero {
    /* overflow: hidden; */
    position: relative;

    min-height: 800px;
    height: 100vh;
    
    
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 66%,rgba(0,0,0,1) 100%);

    padding-top: var(--header-height);
}
@media (min-width: 768px) {
    .hero {
    }
}
@media (min-width: 1025px) {
    .hero {
        min-height: 590px;
        padding-top: var(--header-height-lg);
    }
}
.hero::before {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 8%, rgb(0, 0, 0) 100%);
    content: " ";
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 200px;
    z-index: 2;
}

.hero-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    transform: translateX(-60px) translateY(60px);
    object-fit: cover;
    z-index: 1;    
}



.hero > .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero > .container > .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
    z-index: 3;
}



.hero .logo {
    max-width: 285px;
    margin: 0 0 120px;
}
@media (min-width: 768px) {
    .hero .logo {
        max-width: 530px;
        margin: 0;
    }
}




.mast {
    margin-top: 70px;
}
@media (min-height: 800px) {
    
}
@media (min-width: 768px) {
    .mast {
        margin-top: 0;
        min-height: 270px;
        display: flex;
        align-items: center;
    }
    .mast > div:nth-child(1) {
        width: 40%;
        margin-left: 4%;
        margin-right: 12%;
    }
    .mast > div:nth-child(2) {
        width: 60%;
    }
}
@media (min-width: 1025px) {
    .mast {
        align-items: flex-end;
    }
    .mast > div:nth-child(1) {
        margin-left: 6%;
        margin-right: 16%;
    }
    .mast > div:nth-child(2) {
        
    }
}
@media (min-width: 1920px) {
    .mast > div:nth-child(1) {
        margin-left: 12%;
        margin-right: 16%;
    }    
}

.mast .title {
    text-shadow: 3px 1px 0 black;
    margin-bottom: 21px;
}
.mast .subtitle {
    /* text-shadow: 2px 1px 0 black; */
    margin-bottom: 0;
}

.lower-third {    
    padding-top: 60px;
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    .lower-third {
        padding-top: 20px;
    }
}
@media (min-height: 900px) {
    .lower-third {
        margin-bottom: 60px;
    }   
}
.lower-third-content {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 82ch;
    text-shadow: 1px 1px 12px #c1c1c1;
}
@media (min-width: 768px) {
    .lower-third-content {
        text-align: center;
    }
}
.lower-third-content .content {
    margin-bottom: 2.5rem;
}
@media (min-height: 900px) {
    .lower-third-content .content {
        margin-bottom: 4rem;
    }
}
.lower-third-content .title {
    text-shadow: 1px 1px 14px #c1c1c1;
    margin-bottom: 0;
}

.feature-list-wrap {
    position: relative;
    padding-bottom: 140px;
}
@media (min-width: 768px) {
    .feature-list-wrap {
        padding-bottom: 250px;
    }
}
@media (min-width: 1025px) {
    .feature-list-wrap {
        padding-bottom: 29vw;
    }
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
}
@media (min-width: 563px) {
    .feature-list {
        justify-content: center;
    }
}
@media (min-width: 768px) {
    .feature-list {
        
    }
}

.feature-list li {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

@media (min-width: 768px) {
    .feature-list li {
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media (min-width: 1440px) {
    .feature-list li {
        margin-left: 60px;
        margin-right: 60px;
    }
}

.feature-list p {
    font-size: 15px;
    font-size: clamp(0.94rem, calc(0.89rem + 0.25vw), 1.19rem); /* 15px - 19px */
    text-shadow: 1px 1px 0 black;
    margin-bottom: 0;
}
@media (min-width: 1920px) {
    .feature-list p {
        font-size: 19px;
    }
}

.feature-list .icon {
    width: 30px;
    height: 30px;
    margin-right: 13px;
}
@media (min-width: 768px) {
    .feature-list .icon {
        width: 60px;
        height: 60px;
    }
}


footer {
    position: relative;
    
}
@media (min-height: 900px) {
    footer {
        
    }
}

.footer-hero-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    object-fit: cover;
    z-index: -2;
}

@media (min-width: 1025px) {
    .footer-hero-bg {
     
    }
}

footer > .container {
    display: flex;
    flex-wrap: wrap;
}

footer .footer__left {
    display: flex;
    align-items: flex-end;
}
@media (min-width: 768px) {
    footer .footer__left {
        width: 60%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

footer .social-nav {
    margin-left: 26px;
}
@media (min-width: 400px) {
    footer .social-nav {
        margin-left: 46px;
    }
}
@media (min-width: 768px) {
    footer .social-nav {
        margin-left: 60px;
    }    
}
@media (min-width: 1025px) {
    footer .social-nav {
        margin-left: 80px;
    }
}



footer .footer__right {
    width: 100%;
}
@media (min-width: 768px) {
    footer .footer__right {
        width: 40%;
    }
}

.footer-subscribe {
    margin-top: 80px;
}
@media (min-width: 768px) {
    .footer-subscribe {
        margin-top: 0;
    }   
}
.footer-subscribe .title {
    margin-bottom: 0.4rem;
}

.footer-subscribe p {
    font-size: 14px;
}
.footer-substack {
    position: relative;
    max-width: 366px;
}

#custom-substack-embed {
    position: absolute;
    top: 0;
    left: 10px;
    width: 85%;
}
@media (min-width: 768px) {
    #custom-substack-embed {
        left: auto;
        width: 104%;
    }
}
/* @media (min-width: 986px) {
    #custom-substack-embed {
        width: 107%;
    }
} */
@media (min-width: 1025px) {
    #custom-substack-embed {
        width: auto;
    }
}

.footer-subscribe form {
    position: relative;
    width: fit-content;
    width: 89%;
    border-radius: 0;
    border: 0;
    
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .footer-subscribe form {
        width: 100%;
        /* width: fit-content;
        transform: scale(.756);
        margin-left: -36px; */
    }
}
@media (min-width: 1025px) {
    .footer-subscribe form {
        width: fit-content;
        transform: none;
        margin-left: 0;
    }  
}
.subscribe-input {
    position: relative;
    margin-left: 10px;
    margin-right: -10px;
}
@media (min-width: 768px) {
    .subscribe-input {
        margin-left: 0;
    }
}
.subscribe-input::before {
    background: white;
    content: " ";
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -11px;
    display: block;
    transform: skewX(-20deg);
}

.subscribe-input::after {
    background: white;
    content: " ";
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -12px;
    display: block;
    transform: skewX(-20deg);
}
.footer-subscribe input:not([type="submit"]){
    font-size: 15px !important;
    background: white !important;
    color: #010101 !important;
    padding: 17px 20px 16px;
    min-width: 240px;
    width: 100%;
    outline: none;
    height: 57px;
    
}

@media (min-width: 768px) {
    .footer-subscribe input:not([type="submit"]) {

    }
}
@media (min-width: 1025px) {
    .footer-subscribe input:not([type="submit"]) {

        min-width: 400px;
    }
}

.footer-subscribe [type="submit"] {
    font-family: var(--body-font-face);
    height: 46px;
    border: none;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 1 !important;
    background: black !important;
    color: #fff !important;
    margin-top: 4.5px;
    padding: 17px 20px 16px;
}
.footer-subscribe input[type="submit"]:hover {
    color: #fff;
}
.footer-subscribe button[type="submit"] {
    position: absolute;
    top: 0;
    right: 0;
}
.footer-subscribe form.custom-substack-widget {
    width: 100%;
}
.footer-subscribe form.custom-substack-widget input:not([type="submit"]){
    height: 52px;
    min-width: 256px;
    padding-right: 110px;
    margin-right: 60px;
    margin-top: 2px;
    /* border: 1px solid red; */
}
@media (min-width: 768px) {
    .footer-subscribe form.custom-substack-widget input:not([type="submit"]){
        /* min-width: 320px; */
    }
}
@media (min-width: 1025px) {
    .footer-subscribe form.custom-substack-widget input:not([type="submit"]){
        min-width: 320px;
    }  
}
.footer-subscribe form.custom-substack-widget button[type="submit"] {
    position: absolute;
    margin-top: 3px;
    right: -3px;
    z-index: 2;
}
@media (min-width: 768px) {
    .footer-subscribe form.custom-substack-widget button[type="submit"] {
        right: 4.5%;
        margin-top: 4px;
    }
}
@media (min-width: 1025px) {
    .footer-subscribe form.custom-substack-widget button[type="submit"] {
        right: -7px;
    }
}



.subscribe-submit{
    position: absolute;
    top: 0;
    right: -3px;
    z-index: 2;
    
    /* z-index: 13; */
}
@media (min-width: 768px) {
    .subscribe-submit {
        /* right: 0; */
    }
}
.subscribe-submit::before {
    background: black;
    content: " ";
    width: calc(100% + 20px);
    height: 100%;
    position: absolute;
    top: 3px;
    left: -10px;
    display: block;
    transform: skewX(-20deg);
}
/* .subscribe-submit::after {
    background: red;
    content: " ";
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10px;
    display: block;
    transform: skewX(-20deg);
    z-index: 1;
} */



footer .logo {
    width: 120px;
    min-width: 80px;
    margin-left: 0;
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    footer .logo {
    }
}




.footer__legal {
    font-size: 12px;
    color: #555;

    margin-top: 80px;
}
@media (min-width: 768px) {
    .footer__legal {
        font-size: 13px;
        margin-top: 0;
    }
}


/* animations */
@keyframes breathe {
    0% {
        opacity: 0;
        filter: blur(3px);
        transform: translateX(-60px) translateY(60px) scale(1.05);
    }
    30% {
        opacity: 1;
    }
    50% {
        transform: translateY(0) translateX(0) scale(1);
    }
    100%  {
        filter: blur(0px);
        transform: translateY(0) translateX(0) scale(1);
    }
}

@keyframes zoom {
    0%  {
        opacity: 0;
        transform: scale(1) translate3d(0,0,0);
    }
    20% {
        opacity: 1;
    }
    50%,100% {
        opacity: 0.8;
        transform: scale(1.075)  translate3d(3.5vw,-3.5vw,3.5vw);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        /* transform: translateY(32px); */
    }
    100% {
        opacity: 1;
        transform: translateY(21px);
    }
}
@keyframes hover {
    0%,100%  {
        transform: translateY(0);
    }
    50% {
        transform: translateY(24px);
    }
}

.a-breathe {
    transform: translateX(-60px) translateY(-60px) scale(1.2);
    animation: 1.6s breathe forwards ease;
}
.a-fadein {
    opacity: 0;
    animation: 1s fadein .25s forwards;
}
.a-fadein-2 {
    opacity: 0;
    animation: 1s fadein 1.333s forwards;
}
.a-fadein-3 {
    opacity: 0;
    animation: 1s fadein 1.555s forwards;
}

.a-fadein-4 {
    opacity: 0;
    animation: 1s fadein 1.999s forwards;
}

.a-fadein-5 {
    opacity: 0;
    animation: 1s fadein 2.333s forwards;
}

.a-fadein-6 {
    opacity: 0;
    animation: 1s fadein 2.533s forwards;
}

.a-zoom {
    animation: 1s zoom 2.5s infinite;
}

.a-hover {
    opacity: 0;
    animation: 4s hover 3s forwards;
}
